.btn
	&__scroll
		position: fixed
		display: inline-block
		right: 5%
		bottom: 5%
		padding: 5px
		font-size: 1.3em
		text-align: center
		color: $background-color
		background-color: $foreground-color
		
		&:hover
			color: $background-color
	
		&:focus
			color: $background-color
			
	&__redirect,
		+basic-ease-in-out-animation()
		display: inline-block
		padding: 2.5px
		color: $foreground-color
		
		&:hover
			cursor: pointer
			background-color: $foreground-color
			color: $background-color
	&__close
		position: absolute
		font-size: 2.5em
		top: 20px
		right: 20px
		+basic-ease-in-out-animation()
		&:hover
			cursor: pointer
			transform: rotate(180deg)
			
	&__cta
		+basic-ease-in-out-animation()
		background-color: #2ecc71
		color: $background-color
		border: 1px solid #2ecc71
		padding: 5px
		text-align: center
		font-size: 2em
		width: 200px
		height: 40px
		
		&:hover
			cursor: pointer
			color: #2ecc71
			background-color: $background-color
			
#btn__redirect__create-trip,
#btn__redirect-profile,
#btn__redirect-back
	+basic-ease-in-out-animation()
	display: inline-block
	padding: 2.5px
	color: $foreground-color
	
	&:hover
		cursor: pointer
		background-color: $foreground-color
		color: $background-color