<div class="wrapper">
	<div class="create-trip">
		<form class="create">
			<div class="input-group">
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<div class="create_fields">
					<label for="" class="create_label"></label>
					<input type="text" class="create_input form-control">
				</div>
				<input type="submit" class="create_input-submit btn btn-primary" value="Create">
			</div>
		</form>
	</div>
</div>