<div class="wrapper">
	<div class="create-trip">
		<div class="row">
			<div class="col-xs-6">
				<form class="create">
					<div class="input-group">
						<div class="create_fields">
							<label for="startingPoint" class="create_label">Starting point (please drag the marker on the map to the exact street from which you'll leave): </label>
							<input type="text" class="create_input form-control" id="startingPointInput" name="startingPoint" disabled="disabled">
						</div>
						<div class="create_fields">
							<label class="create_label"></label>
							<div class="create_map" id="startingPointLocationMap"></div>
						</div>
						<div class="create_fields">
							<label for="endingPoint" class="create_label">Ending point (please drag the marker on the map to the exact street on which you'll arrive): </label>
							<input type="text" class="create_input form-control" id="endingPointInput" name="endingPoint" disabled="disabled">
						</div>
						<div class="create_fields">
							<label class="create_label"></label>
							<div class="create_map" id="endingPointLocationMap"></div>
						</div>
						<div class="create_fields">
							<label for="" class="create_label">Starting Date: </label>
							<div class='input-group date' class="create_input" id='datetimepicker'>
								<input type='text' class="form-control" id="dateInput" placeholder="MM/DD/YYYY HH/MM AM|PM"/>
								<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="create_fields">
							<label for="wantPayment" class="create_label">Do you want payment? </label>
							<div class="input-group">
								<span class="input-group-addon">
									<input type="checkbox" aria-label="..." id="wantPaymentInput">
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="in eg. food, money, gas" disabled="disabled" class="create_input" id="typeOfPaymentInput">
							</div>
						</div>
						<div class="create_fields">
							<label for="numberOfSeats" class="create_label">Select the number of free seats you have in your vehiecle</label>
							<select class="create_input-select" id="numberOfSeatsInput">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="4">5</option>
								<option value="4">6</option>
								<option value="4">7</option>
								<option value="4">8</option>
							</select>
						</div>
						<div class="create_fields">
							<label for="additionalInfo" class="create_label">Add some more information regarding your trip: </label>
							<textarea type="text" class="create_input form-control" name="additionalInfo" id="additionalInfoInput"></textarea>
						</div>
						<div class="create_fields">
							<input type="submit" class="create_input-submit btn btn-primary" value="Create">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-6">
				
		</div>
	</div>
</div>
<script>
	function initMap() {
		var geocoder = new google.maps.Geocoder();
		
		function pinLocation(latitude, longitude, startingPointMarkerText) {
			var startingPointLatLng = new google.maps.LatLng(latitude, longitude),
				endingPointLatLng = new google.maps.LatLng(42.1361141, 24.742476),
				startingPointMarker = new google.maps.Marker({
					position: startingPointLatLng,
					draggable: true,
    				animation: google.maps.Animation.DROP,
				}),
				endingPointMarker = new google.maps.Marker({
					position: endingPointLatLng,
					draggable: true,
					animation: google.maps.Animation.DROP
				}),
				infoWindow = new google.maps.InfoWindow({
					content: startingPointMarkerText
				}),
				startingPointLocationMap = new google.maps.Map(document.getElementById('startingPointLocationMap'), {
					center: startingPointLatLng,
					zoom: 18
				}),
				endingPointLocationMap = new google.maps.Map(document.getElementById('endingPointLocationMap'), {
					center: endingPointLatLng,
					zoom: 6
				});
			
			
			startingPointMarker.setMap(startingPointLocationMap);
			startingPointMarker.addListener('drag', function() {
				var latLng = startingPointLocationMap.getBounds(),
					lng = latLng.Ea.G,
					lat = latLng.Ja.G;
					
				codeLatLng($('#startingPointInput'), lat, lng);
			});
			infoWindow.open(startingPointLocationMap, startingPointMarker);
			
			
			endingPointMarker.setMap(endingPointLocationMap);
			endingPointMarker.addListener('drag', function() {
				var latLng = endingPointLocationMap.getBounds(),
					lng = latLng.Ea.G,
					lat = latLng.Ja.G;
					
				codeLatLng($('#endingPointInput'), lat, lng);
			});
		}
		
		function geoSuccess(position) {
			pinLocation(position.coords.latitude, position.coords.longitude, "<h5 style=\"text-align: center\">Currently you are here</h5>");	
		};
		
		function geoError() {
			pinLocation(42.6509798, 23.3792025, "<h5 style=\"text-align: center\">Could not find your location. So I dropped you off at Telerik Academy</h5>"); 			
		}
				
		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
		} else {
			pinLocation(42.6970783,23.3218784, "<h5 style=\"text-align: center\">Geolocation is not supported by your browser. Welcome to the center of Sofia!</h5>");
		}
		
		function codeLatLng($input, lat, lng) {
			var latlng = new google.maps.LatLng(lat, lng);
			geocoder.geocode({'latLng': latlng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					for (var i=0; i<results[0].address_components.length; i++) {
						for (var b=0;b<results[0].address_components[i].types.length;b++) {
							if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
								city= results[0].address_components[i];
								break;
							}
					}
				}
				$input.val(city.long_name);
		
		
				} else {
					alert("No results found");
					}
				} else {
					alert("Geocoder failed due to: " + status);
				}
			});
		}
	}

</script>
<script src="../assets/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script>
	$('#datetimepicker').datetimepicker();

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP-eA0mFSfcp4SHUSwt9AJngiRbrqsbeU&callback=initMap"></script>