<div class="wrapper">
	<div class="row">
		<div class="col-xs-6">
			<form class="form">
				<hgroup class="heading">
					<h1 class="heading__title">Create trip</h1>
				</hgroup>
				<div class="input-group">
					<div class="form__filed">
						<label class="form__filed__label for="startingPoint" ">Starting point (please drag the marker on the map to the exact street from which you'll leave): </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--starting-point" name="startingPoint" disabled="disabled">
					</div>
					<div class="form__filed">
						<label class="form__filed__label"></label>
						<div class="form__field__input--type-map" id="map--starting-point"></div>
					</div>
					<div class="form__filed">
						<label for="endingPoint" class="form__filed__label">Ending point (please drag the marker on the map to the exact street on which you'll arrive): </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--ending-point" name="endingPoint" disabled="disabled">
					</div>
					<div class="form__filed">
						<label class="form__filed__label"></label>
						<div class="form__field__input--type-map" id="map--ending-point"></div>
					</div>
					<div class="form__filed">
						<label class="form__filed__label" for="date">Starting Date: </label>
						<div class='input-group date' class="form__field__input--type-date" id='datetimepicker' name="date">
							<input type="text" class="form-control" id="dateInput" placeholder="MM/DD/YYYY HH/MM AM|PM"/>
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form__filed">
						<label class="form__filed__label"  for="want-payment">Do you want payment? </label>
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="..." id="input--want-payment" name="want-payment">
							</span>
							<input type="text" class="form-control" aria-label="..." placeholder="in eg. food, money, gas" disabled="disabled" class="form__field__input--type-text" id="input--typeof-payment">
						</div>
					</div>
					<div class="form__filed">
						<label for="numberof-seats" class="form__filed__label">Select the number of free seats you have in your vehiecle</label>
						<select class="form__field__input--type-select" id="input--numberof-seats" name="numberof-seats">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="4">5</option>
							<option value="4">6</option>
							<option value="4">7</option>
							<option value="4">8</option>
						</select>
					</div>
					<div class="form__filed">
						<label class="form__filed__label" for="additional-info">Add some more information regarding your trip: </label>
						<textarea class="form__field__input--type-textarea form-control" name="additional-info" id="input--additional-info"></textarea>
					</div>
					<div class="form__filed">
						<input type="submit" class="form__field__input--type-submit btn btn-primary" value="Create">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-xs-6">
			
	</div>
</div>
<script>
	function initMap() {
		var geocoder = new google.maps.Geocoder();
		
		function pinLocation(latitude, longitude, startingPointMarkerText) {
			var startingPointLatLng = new google.maps.LatLng(latitude, longitude),
				endingPointLatLng = new google.maps.LatLng(42.1361141, 24.742476),
				startingPointMarker = new google.maps.Marker({
					position: startingPointLatLng,
					draggable: true,
    				animation: google.maps.Animation.DROP,
				}),
				endingPointMarker = new google.maps.Marker({
					position: endingPointLatLng,
					draggable: true,
					animation: google.maps.Animation.DROP
				}),
				infoWindow = new google.maps.InfoWindow({
					content: startingPointMarkerText
				}),
				startingPointMap = new google.maps.Map(document.getElementById('map--starting-point'), {
					center: startingPointLatLng,
					zoom: 18
				}),
				endingPointMap = new google.maps.Map(document.getElementById('map--ending-point'), {
					center: endingPointLatLng,
					zoom: 6
				});
			
			
			startingPointMarker.setMap(startingPointMap);
			startingPointMarker.addListener('dbclick', function() {
				var latLng = startingPointMap.getBounds(),
					lng = latLng.Ea.G,
					lat = latLng.Ja.G;
					
				codeLatLng($('#input--starting-point'), lat, lng);
			});
			infoWindow.open(startingPointMap, startingPointMarker);
			
			
			endingPointMarker.setMap(endingPointMap);
			endingPointMarker.addListener('dbclick', function() {
				var latLng = endingPointMap.getBounds(),
					lng = latLng.Ea.G,
					lat = latLng.Ja.G;
					
				codeLatLng($('#input--ending-point'), lat, lng);
			});
		}
		
		function geoSuccess(position) {
			pinLocation(position.coords.latitude, position.coords.longitude, "<h5 style=\"text-align: center\">Currently you are here</h5>");	
		};
		
		function geoError() {
			pinLocation(42.6509798, 23.3792025, "<h5 style=\"text-align: center\">Could not find your . So I dropped you off at Telerik Academy</h5>"); 			
		}
				
		if(navigator.geo) {
			navigator.geo.getCurrentPosition(geoSuccess, geoError);
		} else {
			pinLocation(42.6970783,23.3218784, "<h5 style=\"text-align: center\">Geo is not supported by your browser. Welcome to the center of Sofia!</h5>");
		}
		
		function codeLatLng($input, lat, lng) {
			var latlng = new google.maps.LatLng(lat, lng);
			geocoder.geocode({'latLng': latlng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					for (var i=0; i<results[0].address_components.length; i++) {
						for (var b=0;b<results[0].address_components[i].types.length;b++) {
							if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
								city= results[0].address_components[i];
								break;
							}
						}
					}
				
					$input.val(city.long_name);
				} else {
					alert("No results found");
				}
			} else {
				alert("Geocoder failed due to: " + status);
				}
			});
		}
	}

</script>
<script src="../assets/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script>
	$('#datetimepicker').datetimepicker();
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP-eA0mFSfcp4SHUSwt9AJngiRbrqsbeU&callback=initMap"></script>