<div class="wrapper">
	<div class="find-trips">
		<div class="row">
			<div class="col-xs-6">
				<hgroup class="find-trips_heading"  id="current-trips">
					<h1 class="find-trips_heading_title">Here you can find trips from all over the world.</h1>
					<h3 class="find-trips_heading_subtitle"><span id="btn__redirect__create-trip">Create a trip</span></h3>
				</hgroup>
			</div>
			<div class="col-xs-6">
				<hgroup class="find-trips_heading">
					<h1 class="find-trips_heading_title">Search for a trip</h1>	
				</hgroup>
				<div class="input-group">
					<input type="text" class="form-control" id="searchbox" aria-label="...">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<script type="text/x-handlebars-template" id="trip-preview__template">
					{{#trips}}
						<div class="trip">
							<h1 class="trip__title">{{StartingPoint}} - {{EndingPoint}} on {{Date}}</h1>
							<h2 class="trip__info">Free Seats: {{FreeSeats}}</h2>
							<h4 class="trip__info">{{AdditionalInformation}}</h4>
							<h4 class="btn__redirect">View more</h4>
						</div>
					{{/trips}}
				</script>
			</div>
		</div>
	</div>
</div>