<div class="wrapper">
	<aside class="information">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus numquam nemo fuga magnam molestiae eveniet fugit officiis
			sed explicabo corrupti, eaque soluta. Aperiam, nulla ut suscipit numquam in autem unde!</p>
	</aside>
	<aside class="latest">
		<nav class="latest_menu">
			<ul class="latest_menu_list">
				<li class="latest_menu_list_item"><a href="" class="latest_menu_list_item_link">27.09.15 Sofia-Lovetch</a></li>
				<li class="latest_menu_list_item"><a href="" class="latest_menu_list_item_link">01.09.15 Ruse-Burgas</a></li>
				<li class="latest_menu_list_item"><a href="" class="latest_menu_list_item_link">05.01.16 London-Frankfurt am Main</a></li>
			</ul>
		</nav>
	</aside>
</div>