<div class="messagebox--state-success" data-info="log-in">
	<span class="btn__close">&#10006;</span>
	<h1 class="messagebox--state-success__title"><strong>Success</strong></h1>
	<h2 class="messagebox--state-success__subtitle">You have logged in successfully. Redirecting you to home page now...</h2>
</div>
<div class="messagebox--state-error" data-info="log-in">
	<span class="btn__close">&#10006;</span>
	<h1 class="messagebox--state-error__title"><strong>Error</strong></h1>
	<h2 class="messagebox--state-error__subtitle">No such user exists<br/>If you have forgotten your password, please click <a href="#" class="messagebox--state-error__link">here </a> and an email with further instructions will be sent to you.</h2>
</div>
<div class="wrapper">
	<div class="row">
		<div class="col-xs-6">
			<form class="form">
				<hgroup class="heading">
					<h1 class="heading__title">Log in form</h1>
					<h4 class="heading__subtitle">Don't have a profile <strong class="btn__redirect">Register </strong></h4>
				</hgroup>
				<div class="input-group">
					<div class="form__field">
						<label class="form__field__label" for="username">Username: </label>
						<input class="form__field__input--type-text form-control" id="input--username" type="text" name="username">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="password">Password: </label>
						<input class="form__field__input--type-text form-control" id="input--password" type="password" name="password">
					</div>
					<input class="form__field__input--type-submit" type="button" value="Log in">
				</div>
			</form>
		</div>
		<div class="col-xs-6">
			<aside class="banners">
				<div class="banners banner">
					<div class="banner__image first">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Go on endless adventurers. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner__image second">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Find new friends for life. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner__image third">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Explore the world. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
			</aside>
		</div>
	</div>