<div class="wrapper">
	<div class="row">
		<div class="col-xs-6">
			<form action="" class="log-in">
				<hgroup heading>
					<h1 heading_title>Log in form</h1>
					<h4 heading_subtitle>Don't have a profile <strong id="redirect_btn">Register </strong></h4>
				</hgroup>
				<div class="input-group">
					<div class="log-in_fileds">
						<label class="log-in_label" for="username">Username: </label>
						<input class="log-in_input-text form-control" id="usernameInput" type="text" name="username">
					</div>
					<div class="log-in_fileds">
						<label class="log-in_label" for="password">Password: </label>
						<input class="log-in_input-text form-control" id="passwordInput" type="password" name="password">
					</div>
					<input class="log-in_input-submit" type="button" value="Log in">
				</div>
				<div class="log-in-success">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						Log in successfull!
					</div>
				</div>
				<div class="log-in-error">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						No such user exists. Please retry.
						<br/> If you have forgotten your password, click <a href="#">here</a> and an email with further instructions will be send
						to you.
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-6">
			<aside class="banners">
				<div class="banners banner">
					<div class="banner_image first">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Go on endless adventurers. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner_image second">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Find new friends for life. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner_image third">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Explore the world. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
			</aside>
		</div>
	</div>