<div class="wrapper">
	<div class="row">
		<div class="col-xs-8">
			<div class="profile">
				<script type="text/x-handlebars-template" id="profile-template">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="profile__greeting">Hello, {{name}}! <br/> Welcome to your Carpool profile.</h1>
						</div>
						<div class="panel-body">
							<div class="profile__fields">
								<img src="{{image}}" alt="My profile image" class="profile__image">
								<span class="profile__image__edit">Edit profile image</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Name: </span> <span class="profile__fields-data">{{name}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Age: </span> <span class="profile__fields-data">{{age}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">City: </span> <span class="profile__fields-data">{{city}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Email: </span> <span class="profile__fields-data">{{email}}</span>
							</div>
						</div>
					</div>
				</script>
			</div>
		</div>
		<div class="col-xs-4">
			<form class="profile_upload-image" method="post" enctype="multipart/form-data">
				<h3 class="profile_upload-image_heading">Edit your profile image</h3>
				<div class="profile_upload-image_upload">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
						<div>
							<span class="btn btn-primary btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
							<a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
							<input id="profile_upload-image_upload_btn" class="btn btn-primary" type="submit">
						</div>
					</div>
					<div class="profile_upload-image-success">
						<div class="alert alert-success alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Success!</strong> Your image was changed.
						</div>
					</div>
					<div class="profile_upload-image-error">
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Oops!</strong> It seems that an error has occured.
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>