<div class="wrapper">
	<div class="row">
		<div class="col-xs-8">
			<div class="profile">
				<script type="text/x-handlebars-template" id="profile-template">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="profile__greeting">Hello, {{name}}! <br/> Welcome to your Carpool profile.</h1>
						</div>
						<div class="panel-body">
							<div class="profile__fields">
								<img src="../assets/images/my-profile-image-default.gif" alt="My profile image" class="profile__image">
								<a href="#" class="profile__image__edit">Edit profile image</a>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Name: </span> <span class="profile__fields-data">{{name}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Age: </span> <span class="profile__fields-data">{{age}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">City: </span> <span class="profile__fields-data">{{city}}</span>
							</div>
							<div class="profile__fields">
								<span class="profile__fields-info">Email: </span> <span class="profile__fields-data">{{email}}</span>
							</div>
						</div>
					</div>
				</script>
			</div>
		</div>
		<div class="col-xs-4">
			<form class="profile_upload-image" method="post" enctype="multipart/form-data">
				<h3 class="profile_upload-image_heading">Edit your profile image</h3>
				<div class="input-group">
					<label class="profile_upload-image_input-upload_label">Select File</label>
					<input class="profile_upload-image_input-upload" type="file" class="input-1">	
				</div>
			</form>
		</div>
	</div>
</div>