<div class="registerUser">
	<hgroup heading>
		<h1 heading_title>Registration form</h1>
		<h5 heading_subtitle>In order to use this application you must be over 16 years old!</h5>
	</hgroup>
	<form action="" class="register">
		<div class="input-group">
			<label class="register_label" for="username">Username: </label>
			<input class="register_input-text form-control" type="text" id="usernameInput" name="username">
			<label class="register_label" for="email">E-Mail: </label>
			<input class="register_input-text form-control" type="text" id="emailInput" name="email">
			<label class="register_label" for="password">Password: </label>
			<input class="register_input-text form-control" type="password" id="passwordInput" name="password">
			<label class="register_label" for="repeatPassword">Repreat password: </label>
			<input class="register_input-text form-control" type="password" id="repeatPasswordInput" name="repeatPassword">
			<label class="register_label" for="firstName">First Name: </label>
			<input class="register_input-text form-control" type="text" id="firstNameInput" name="firstName">
			<label class="register_label" for="lastName">Last Name: </label>
			<input class="register_input-text form-control" type="text" id="lastNameInput" name="lastName">
			<label class="register_label" for="age">Age: </label>
			<input class="register_input-text form-control" type="text" id="ageInput" name="age">
			<label class="register_label" for="city">City: </label>
			<input class="register_input-text form-control" type="text" id="cityInput" name="city">
			<input class="register_input-submit" type="button" value="Register">
		</div>
	</form>
</div>