<div class="wrapper">
	<div class="row">
		<div class="col-xs-6">
			<form action="" class="register">
				<hgroup heading>
					<h1 heading_title>Registration form</h1>
					<h4 heading_subtitle>Already registered? <strong id="redirect_btn">Log in </strong></h4>
					<h4 heading_subtitle>In order to use this application you must be over 16 years old!</h4>
				</hgroup>
				<div class="input-group">
					<div class="register_fields">
						<label class="register_label" for="username">Username: </label>
						<input class="register_input-text form-control" type="text" id="usernameInput" name="username">
					</div>
					<div class="register_fields">
						<label class="register_label" for="email">E-Mail: </label>
						<input class="register_input-text form-control" type="text" id="emailInput" name="email">
					</div>
					<div class="register_fields">
						<label class="register_label" for="password">Password: </label>
						<input class="register_input-text form-control" type="password" id="passwordInput" name="password">
					</div>
					<div class="register_fields">
						<label class="register_label" for="repeatPassword">Repreat password: </label>
						<input class="register_input-text form-control" type="password" id="repeatPasswordInput" name="repeatPassword">
					</div>
					<div class="register_fields">
						<label class="register_label" for="firstName">First Name: </label>
						<input class="register_input-text form-control" type="text" id="firstNameInput" name="firstName">
					</div>
					<div class="register_fields">
						<label class="register_label" for="lastName">Last Name: </label>
						<input class="register_input-text form-control" type="text" id="lastNameInput" name="lastName">
					</div>
					<div class="register_fields">
						<label class="register_label" for="age">Age: </label>
						<input class="register_input-text form-control" type="text" id="ageInput" name="age">
					</div>
					<div class="register_fields">
						<label class="register_label" for="city">City: </label>
						<input class="register_input-text form-control" type="text" id="cityInput" name="city">
					</div>
					<input class="register_input-submit" type="button" value="Register">
				</div>
				<div class="register-user-success">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Congrats!</strong> You registered successfully for Carpool - The Trip Organiser. A user confirmation email
						will be sent to you shortly.
					</div>
				</div>
				<div class="register-user-error">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Oops!</strong> It seems that a user with the same username/email already exists.
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-6">
			<aside class="banners">
				<div class="banners banner">
					<div class="banner_image first">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Go on endless adventurers. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner_image second">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Find new friends for life. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner_image third">
						<div class="banner_overlay"></div>
						<h2 class="banner_title">Explore the world. </h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
			</aside>
		</div>
	</div>
</div>