<div class="messagebox--state-success" data-info="log-in">
	<span class="btn__close">&#10006;</span>
	<h1 class="messagebox--state-success__title"><strong>Congrats</strong></h1>
	<h2 class="messagebox--state-success__subtitle">You registered successfully for Carpool - The Trip Organiser. A user confirmation email will be sent to you shortly.</h2>
</div>
<div class="messagebox--state-error" data-info="log-in">
	<span class="btn__close">&#10006;</span>
	<h1 class="messagebox--state-error__title"><strong>Oops!</strong></h1>
	<h2 class="messagebox--state-error__subtitle"> It seems that a user with the same username/email already exists.</h2>
</div>
<div class="wrapper">
	<div class="row">
		<div class="col-xs-6">
			<form class="form">
				<hgroup class="heading">
					<h1 class="heading__title">Registration form</h1>
					<h4 class="heading__subtitle">Already registered? <strong class="btn__redirect">Log in </strong></h4>
					<h4 class="heading__subtitle">In order to use this application you must be over 16 years old!</h4>
				</hgroup>
				<div class="input-group">
					<div class="form__filed">
						<label class="form__field__label" for="username">Username: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--username" name="username">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="email">E-Mail: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--email" name="email">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="password">Password: </label>
						<input class="form__field__input--type-text form-control" type="password" id="input--password" name="password">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="password-repeated">Repreat password: </label>
						<input class="form__field__input--type-text form-control" type="password" id="input--password-repeated" name="password-repeated">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="first-name">First Name: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--first-name" name="first-name">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="last-name">Last Name: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--last-name" name="last-name">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="age">Age: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--age" name="age">
					</div>
					<div class="form__filed">
						<label class="form__field__label" for="city">City: </label>
						<input class="form__field__input--type-text form-control" type="text" id="input--city" name="city">
					</div>
					<input class="form__field__input--type-submit" type="button" value="Register">
				</div>
			</form>
		</div>
		<div class="col-xs-6">
			<aside class="banners">
				<div class="banners banner">
					<div class="banner__image first">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Go on endless adventurers. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner__image second">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Find new friends for life. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
				<div class="banners banner">
					<div class="banner__image third">
						<div class="banner__overlay"></div>
						<h2 class="banner__title">Explore the world. </h2>
					</div>
					<p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, beatae? Quaerat, ducimus. Nostrum corporis nihil optio
						facilis natus, quos, accusamus sint amet distinctio. Provident, in optio architecto earum, ipsa numquam!</p>
				</div>
			</aside>
		</div>
	</div>
</div>