body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: #ecf0f1; }
  body .loader {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white; }
    body .loader div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      body .loader div h1 {
        text-align: center; }
      body .loader div img {
        display: block;
        transform: scale(1.2);
        width: 25%;
        height: 25%;
        margin: 20px auto; }
  body .wrapper {
    margin: 100px 0; }
  body .header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center; }
    body .header__title {
      text-align: center;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      body .header__title-main, body .header__title-sub {
        font-size: 3em; }

aside__menu__list {
  list-style: none; }
  aside__menu__list__item__link {
    color: #2c3e50; }
    aside__menu__list__item__link:hover {
      text-decoration: none; }

.btn__scroll {
  position: fixed;
  display: inline-block;
  right: 5%;
  bottom: 5%;
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
  color: #ecf0f1;
  background-color: #2c3e50; }
  .btn__scroll:hover {
    color: #ecf0f1; }
  .btn__scroll:focus {
    color: #ecf0f1; }
.btn__redirect {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 2.5px;
  color: #2c3e50; }
  .btn__redirect:hover {
    cursor: pointer;
    background-color: #2c3e50;
    color: #ecf0f1; }
.btn__close {
  position: absolute;
  font-size: 2.5em;
  top: 20px;
  right: 20px;
  transition: all 0.2s ease-in-out; }
  .btn__close:hover {
    cursor: pointer;
    transform: rotate(180deg); }
.btn__cta {
  transition: all 0.2s ease-in-out;
  background-color: #2ecc71;
  color: #ecf0f1;
  border: 1px solid #2ecc71;
  padding: 5px;
  text-align: center;
  font-size: 2em;
  width: 200px;
  height: 40px; }
  .btn__cta:hover {
    cursor: pointer;
    color: #2ecc71;
    background-color: #ecf0f1; }

#btn__redirect__create-trip,
#btn__redirect-profile,
#btn__redirect-back {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 2.5px;
  color: #2c3e50; }
  #btn__redirect__create-trip:hover,
  #btn__redirect-profile:hover,
  #btn__redirect-back:hover {
    cursor: pointer;
    background-color: #2c3e50;
    color: #ecf0f1; }

.banner {
  height: 300px; }
  .banner__image {
    position: relative;
    height: 50%;
    width: 100%;
    margin-bottom: 20px; }
  .banner__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .banner__title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; }
  .banner .first {
    background-image: url(../../assets/images/aside-baner-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .banner .second {
    background-image: url(../../assets/images/aside-baner-2.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
  .banner .third {
    background-image: url(../../assets/images/aside-baner-3.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat; }
  .banner__text {
    font-size: 1.1em; }

.form__field {
  width: 400px; }
  @media screen and (max-width: 990px) {
    .form__field {
      width: 100%; } }
  .form__field__label {
    width: 100% !important;
    font-size: 1.3em !important;
    margin-top: 15px !important; }
  .form__field__input--type-text {
    width: 100% !important;
    margin-bottom: 20px !important; }
  .form__field__input--type-textarea {
    resize: none;
    height: 100px; }
  .form__field__input--type-submit {
    transition: all 0.2s ease-in-out;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    background: none;
    border: 2px solid #2c3e50; }
    .form__field__input--type-submit:hover {
      background: #2c3e50;
      color: #ecf0f1; }
  .form__field__input--type-select {
    font-size: 1.4em;
    width: 2.8em;
    border: 1px solid #2c3e50;
    color: #2c3e50; }
  .form__field__input--type-map {
    width: 100%;
    height: 400px;
    margin: 20px 0; }

.heading__title {
  margin: 5px 0;
  padding: 0;
  font-size: 2em;
  font-weight: 500; }
.heading__subtitle {
  margin: 5px 0;
  padding: 0;
  font-size: 1.8em;
  font-weigth: 400; }

.menu {
  z-index: 5;
  position: fixed;
  width: 100%; }
  .menu__list__item {
    transition: all 0.2s ease-in-out;
    font-size: 1.4em !important;
    padding: 6.5px; }
    .menu__list__item:hover {
      background-color: #2c3e50; }
    .menu__list__item__link {
      text-align: center;
      color: #ecf0f1 !important; }

.messagebox--state-success, .messagebox--state-error {
  z-index: 4;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 37.5%;
  color: white;
  padding: 15px;
  display: none;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .messagebox--state-success__link, .messagebox--state-error__link {
    color: white; }
    .messagebox--state-success__link:hover, .messagebox--state-error__link:hover {
      text-decoration: underline; }
  .messagebox--state-success__title, .messagebox--state-success__subtitle, .messagebox--state-error__title, .messagebox--state-error__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
.messagebox--state-success {
  background-color: #2ecc71; }
.messagebox--state-error {
  background-color: #e74c3c; }

.invalid-data {
  padding: 5px;
  position: relative;
  width: 400px;
  background-color: #e74c3c;
  color: #ecf0f1; }

.profile__greeting {
  padding-left: 10px; }
.profile__field {
  margin: 10px; }
  .profile__field__image {
    width: 200px;
    height: 200px;
    margin: 15px 0; }
  .profile__field__btn__edit {
    color: #2c3e50;
    font-size: 1.4em;
    text-align: center;
    display: block;
    width: 200px;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px; }
    .profile__field__btn__edit:hover {
      text-decoration: none;
      background: #2c3e50;
      color: #ecf0f1;
      cursor: pointer; }
  .profile__field__data {
    font-size: 1.5em; }
  .profile__field__info {
    color: #2c3e50;
    font-size: 1.5em;
    font-weight: bolder; }

.form__upload {
  height: 300px;
  padding: 10px;
  background: #bdc3c7;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }
  .form__upload-clicked {
    opacity: 1; }
  .form__upload__maintitle {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #2c3e50; }
  .form__upload__messagebox--state-success, .form__upload__messagebox--state-error {
    opacity: 0; }

/*# sourceMappingURL=main.css.map */
