.profile
	
	&__image
		width: 150px
		height: 150px
		margin: 15px 0
		
		&__edit
			color: #2c3e50
			font-size: 1.4em
			display: block
			width: 150px
			transition: all 0.2s ease-in-out
			margin-bottom: 15px
			
			&:hover
				text-decoration: none
				background: #2c3e50
				color: #ecf0f1
	&__greeting
		padding-left: 10px
	
	&__fields
		margin: 10px
		
		&-data
			font-size: 1.5em
		
		&-info
			color: #2c3e50
			font:
				size: 1.5em
				weight: bolder