.profile
	
	&__image
		width: 200px
		height: 200px
		margin: 15px 0
		
		&__edit
			color: #2c3e50
			font-size: 1.4em
			text-align: center
			display: block
			width: 200px
			padding: 0 10px
			transition: all 0.2s ease-in-out
			margin-bottom: 15px
			
			&:hover
				text-decoration: none
				background: #2c3e50
				color: #ecf0f1
				cursor: pointer
				
	&__greeting
		padding-left: 10px
	
	&__fields
		margin: 10px
		
		&-data
			font-size: 1.5em
		
		&-info
			color: #2c3e50
			font:
				size: 1.5em
				weight: bolder
	
	&_upload-image
		height: 250px
		background: #bdc3c7
		opacity: 0
		transition: opacity 0.4s ease-in-out
		
		&-clicked
			opacity: 1
		&_heading
			padding: 10px
			text-align: center
			font:
				size: 1.5em
				weight: 400
			color: #2c3e50
			
		&_upload
			position: relative
			padding: 0 15px
			width: 100%
		
		&-error
			opacity: 0
		
		&-success
			opacity: 0
			