.heading
	&_title
		font:
			size: 1.2em
			weight: 500
	&_subtitle
		font:
			size: 1.2em
			weigth: 400

.register
	width: 100%	
	padding-bottom: 65px
	
	&_label
		width: 100% !important
		font-size: 1.2em
		margin-top: 15px !important
	&_input-text
		width: 400px !important
		margin-bottom: 20px !important
		
		@media screen and (max-width: 990px)
			width: 100% !important
	&_input-submit
		font-size: 1.2em
		font-weight: bold
		margin-bottom: 10px
		width: 100px
		height: 40px
		background: none
		border: 2px solid #2c3e50
		transition: all 0.2s ease-in-out
		
		&:hover
			background: #2c3e50
			color: #ecf0f1
	
	&-user-success
		opacity: 0
		transition: opacity 0.5s ease-in 
	
	&-user-error
		opacity: 0
		transition: opacity 0.5s ease-in